@import "semantic-ui";

@font-face {
    font-family: 'nexa_lightregular';
    src: font-url('nexa_free_light-webfont.eot');
    src: font-url('nexa_free_light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('nexa_free_light-webfont.woff2') format('woff2'),
         font-url('nexa_free_light-webfont.woff') format('woff'),
         font-url('nexa_free_light-webfont.ttf') format('truetype'),
         font-url('nexa_free_light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.primary-background-solid{
	background-color: #3EACA8;
}

.accent-background-solid{
	background-color: #E5EEC1;
}

.primary-color{
	color: #547A82	;
}

.gradient{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5eec1+0,e5eec1+16,a2d4ab+43,3eaca8+67,3eaca8+67,547a82+88,5a5050+99 */
background: #e5eec1; /* Old browsers */
background: -moz-linear-gradient(top,  #e5eec1 0%, #e5eec1 16%, #a2d4ab 43%, #3eaca8 67%, #3eaca8 67%, #547a82 88%, #5a5050 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e5eec1 0%,#e5eec1 16%,#a2d4ab 43%,#3eaca8 67%,#3eaca8 67%,#547a82 88%,#5a5050 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e5eec1 0%,#e5eec1 16%,#a2d4ab 43%,#3eaca8 67%,#3eaca8 67%,#547a82 88%,#5a5050 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5eec1', endColorstr='#5a5050',GradientType=0 ); /* IE6-9 */

width: 100%;
height: 100%;
}

.white{
	color: #547a82	;
}

.black{
	color: #5A5050;
}

.top-bar{
	position: absolute;
	text-align: center;
	top: 0px;
	background-color: #E5EEC1;
	width: 100%;
	height: 5%;
}

.top-text{
	position: relative;
	top: 25%;
}

.section{
	text-align: center;
}

.form-padding{
	padding: 15px 15px 15px 15px;
}

.in-button-shape{
	transition: none !important;
}

#WhatIsUPrint{
	font-size: 3rem;
}

#WhatIsUPrintP{
	font-size: 1.5rem;
}

@media only screen and (max-width: 767px) {
    .mobile.hidden,
    .tablet.only,
    .small.monitor.only,
    .large.monitor.only {
        display: none !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mobile.only,
    .tablet.hidden,
    .small.monitor.only,
    .large.monitor.only {
        display: none !important;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .mobile.only,
    .tablet.only,
    .small.monitor.hidden,
    .large.monitor.only {
        display: none !important;
    }
}
@media only screen and (min-width: 1200px) {
    .mobile.only,
    .tablet.only,
    .small.monitor.only,
    .large.monitor.hidden {
        display: none !important;
    }
}