<div id="fullpage">
	<div class="section accent-background-solid">
		<div class="ui container" id="topPage">
			<h1 class="ui header" id="WhatIsUPrint"> What is UPrint? </h1>
			<p id="WhatIsUPrintP">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
			<p id="WhatIsUPrintP">Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
		</div>
	</div>
	<div class="section active gradient">
		<div class="top-bar"><h5 class="top-text"><a href="#about" class="white">What is UPrint?</a></h5></div>
		<div class="ui grid" id="form">
			<div class="sixteen wide column">
				<div class="ui shape">
					<div class="sides">
						<div class="active side">
							<div class="ui card">
								<form class="ui form form-padding">
									<div class="field">
										<label>Email</label>
										<input type="email" name="email" placeholder="Email">
									</div>
									<div class="field">
										<label>Password</label>
										<input type="password" name="password" placeholder="Password">
									</div>
									<div class="field">
										<label>Confirm Password</label>
										<input type="password" name="password-confirmation" placeholder="Confirm Password">
									</div>
									<div class="field">
										<div class="ui checkbox">
											<input type="checkbox" tabindex="0" class="hidden">
											<label>I agree to the Terms and Conditions</label>
										</div>
									</div>
									<button class="ui button" type="submit">Sign up</button>
								</form>
								<div class="ui bottom attached button in-button-shape" onclick="flipOver()">Login</div>
							</div>
						</div>
						<div class="side">
							<div class="ui card">
								<form class="ui form form-padding">
									<div class="field">
										<label>Email</label>
										<input type="email" name="email" placeholder="Email">
									</div>
									<div class="field">
										<label>Password</label>
										<input type="password" name="password" placeholder="Password">
									</div>
									<button class="ui button" type="submit">Login</button>
								</form>
								<button class="ui attached bottom button in-button-shape" onclick="flipOver()">Sign up</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

